body{
  background-color: white;
  font-family: helvetica;
  padding: 25px;
  font: 300 16px/1.2 helvetica;
}
.nav {
  list-style: none;
}
.nav li {
  float: left; /*1*/
}
.nav > li a {
  display: block; /*1*/
  padding: 12px 18px; /*2*/
  text-decoration: none; /*3*/
  color: #5004e8; /*4*/
  border-bottom: 1px solid #5004e8;
  transition: all ease .5s;
}
.nav:hover > li a {
  opacity: .5;
  transition: all ease .5s;
}
.nav > li:hover a {
  opacity: 1;
  color: #E74C3C;
  border-color: #E74C3C;
}

img{
  position: absolute;
  left: 400px;
  top:170px;
  width: 400px;

}
