body{
  background-color: #d2ff63;
font-family: helvetica;}

h1{font-size: 120px;
text-align: center;
opacity: .5}

#nikepresto
{width:1000px;
  position: absolute;
  left:300px;
}

#nike2
{width:1000px;
  position: absolute;
  left:700px;
}
